@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400|Oswald:400');

html {
  font-size: 100%;
} /* 16px */

:root {
  --clr-primary: #3a86ff;
  --clr-grey: #6d6875;
  --clr-danger: #d90429;

  /* shadow */
  --shadow-1: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  --shadow-2: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  --shadow-3: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  --shadow-4:
    0 20px 25px -5px rgb(0 0 0 / 0.1),
    0 8px 10px -6px rgb(0 0 0 / 0.1);
  --shadow-5: 0 25px 50px -12px rgb(0 0 0 / 0.25);
  --max-width: 1280px;
  --border-radius: 0.25rem;
  --transition: all 0.3s ease-in-out;
}

body {
  background: white;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  line-height: 1.75;
  color: #000;
}

p {
  margin-bottom: 1rem;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 3rem 0 1.38rem;
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  line-height: 1.3;
}

h1 {
  margin-top: 0;
  font-size: 3.052rem;
}

h2 {
  font-size: 2.441rem;
}

h3 {
  font-size: 1.953rem;
}

h4 {
  font-size: 1.563rem;
}

h5 {
  font-size: 1.25rem;
}

small,
.text_small {
  font-size: 0.8rem;
}

main {
  max-width: var(--max-width);
  margin: 0 auto;
}

nav,
.logo-container,
.nav-links-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

nav {
  border-bottom: 1pt solid grey;
  padding-top: 0.35rem;
  padding-bottom: 0.35rem;
}

.logo-container {
  justify-content: center;
}

.logo-img {
  width: 4rem;
  height: 4rem;
}

.nav-title {
  text-transform: capitalize;
  font-size: 2rem;
  margin: 0 1rem;
}

ul {
  list-style-type: none;
}

.nav-link {
  text-decoration: none;
  color: rgb(0, 102, 255);
  font-size: 1.1rem;
  padding: 0.25rem 0.5rem;
}
